.fixed {
    position: fixed; 
  }

.scrollable {
  overflow-y: scroll;
  height: 70vh;
}

ol.ordered-list--decimal {
  list-style-type: decimal;
}

ol.ordered-list--alphabetic-upper {
  list-style-type: upper-alpha;
}

ol.ordered-list--alphabetic-lower {
  list-style-type: lower-alpha;
}

ol.ordered-list--roman-upper {
  list-style-type: upper-roman;
}

ol.ordered-list--roman-lower {
  list-style-type: lower-roman;
}